label {
  font-weight: bold;
}

.exportValue {
  width: 99%;
  height: 29px;
}

#map {
  width: 100%;
  height: 75%;
}

.panel.panel-right.panel-cover {
  font-size: 10pt;
  line-height: 16pt !important;
  opacity: 0.75;
}

.content-block-title {
  margin: 15px 15px -25px;
}

.stats {
  border: 1px solid #CCC;
  width: 100%;
}

.field {
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}

.value {
  width: 40%;
  background-color: #FFF;
}

.gutter {
  width: 5%;
}

.fenceFieldName {
  font-size: 10pt;
}

.fenceFieldValue {
  width: 100%;
  border: 1px solid #CCC !important;
  border-radius: 5px !important;
  font-size: 9pt !important;
}
